#home{
    height: 100vh;
    background: linear-gradient(to right,#0d6efd,#6610f2);
    color: white;
    margin-bottom: 70px;
}
#skills{
    margin: top 70px;
}

#home .container {
    padding-top: 50px; /* Creates space inside the section */
  }

#about img {
    max-width: 500px; /* Adjust size */
    height: auto;     /* Keeps aspect ratio */
  }
